NUGET_USERNAME=
NUGET_TOKEN=

POSTGRES_DB=directory_service_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_CONNECTION_STRING=Server=postgres;Port=5432;Database=directory_service_db;User Id=postgres;Password=postgres;Search Path=public
NEXT_PUBLIC_API_URL=http://localhost/api

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
